/* GENERAL */

@import url('https://fonts.cdnfonts.com/css/avenir');

* {
    font-family: Avenir, sans-serif; 
}

:root {
    --color1: #472B53;
    --color2: #6B315A;
    --color3: #007684;
    --color4: #FF6346;
    --color5: azure;
}

body {
    margin: 0;
    padding: 0;
}

/* LANDING PAGE */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.portada {
    width: 100vw;
    height: 1fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contact {
    justify-self: flex-end;
}

.contact > div {
    border-radius: 50%;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 48px;
    width: 48px;
}

.whatsapp {
    background-color: #3CB76D;
}

.telegram {
    background-color: #3C90B7;
}

.cardsLanding {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-top: -3em;
}

.cardLanding {
    background-color: var(--color3);
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
}

.cardLanding > .icono {
    font-size: 32px;
}

.opiniones {
    background-color: var(--color5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.opiniones > .titulo {
    grid-column: span 3;
    text-align: center;
}

.cardOpinion {
    text-align: center;
}

.marcas {
    display: flex;
    gap: 1em;
}

.tipoCoche {
    text-align: center;
}

.tipoCoche > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 800px;
    gap: 1em;
}

.ofertas {
    background-color: var(--color5);
}

.carruselCoches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.promo {
    background-color: var(--color4);
    color: white;
    flex-direction: row;
}

.ventajas > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    background-color: var(--color5);
}

.satisfaccion {
    background-color: var(--color1);
    color: white;
}

.asesor > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.boton1 {
    background-color: var(--color3);
}

.boton2 {
    background-color: var(--color4);
}

.contactos {
    background-color: var(--color4);
    color: white;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 10em;
}

.contactos > div{
    display: flex;
    gap: 1em;
    align-items: center;
}

.contactos .icono {
    font-size: 2em;
}

/* FOOTER */

.modal-footer {
    color: white;
    padding: 1em;
}